*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --aqua-green: #54E6AF;
  --darkest-blue: #121725; 
  --darker-blue: #2C344B;
  --dark-blue: #5A668A;
  --blue-gray: #C2CBE5;

  --padding-left: 165px;
}

body{
  background-color: var(--darkest-blue);
  font-family: "Chivo";
  font-style: normal;
  color: #fff;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;

  padding-left: 20px;
}

.hero{  
  width: 1275px;
  height: 640px;  

  margin: 0 auto;
  
  position: relative; 

  display: flex;
  align-items: flex-end;
}

.hero__logo{
  width: 135px;  
  height: 56px;

  position: absolute;
  top: -28px;
}

.hero-image{
  position: absolute;
  z-index: -1;
  right: 0;  
}

.hero__image{
  max-width: 888px;
  height: 640px;
}

.hero__info{
  width: 723px;
  height: 509px;  
  background-color: var(--darkest-blue);

  padding-top: 88px;
}

.hero__primary-text{
  font-weight: 100;
  font-size: 52px;
  line-height: 62px;  
  text-transform: uppercase;
}
.hero__primary-text--green{
  color: var(--aqua-green);
}
.hero__secondary-text{
  margin-top: 24px;

  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
  color: var(--blue-gray);
  max-width: 445px;
}

.hero-input{
  margin-top: 40px;
  max-width: 427px;
  height: 56px;
  position: relative;

  display: flex;
  align-items: center;
  border: none;
}
.hero__input{
  width: 100%;
  height: 56px;
  border-radius: 28px;
  background-color: var(--darker-blue);    
  border: none;  
  outline: none;
  padding-left: 32px;


  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.hero__input:focus, 
.hero__input:active,
.hero__input:valid
{
  color: #fff;
  opacity: 1;
}


.input__btn{
  position: absolute;
  right: 5px;

  width: 162px;
  height: 46px;
  border: none;
  border-radius: 28px;
  box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
  background-color: var(--aqua-green);

  font-weight: 600; 
  font-size: 14px;
  line-height: 28px;
  color: var(--darkest-blue);
  cursor: pointer;
}
.input__btn:hover{
  background: #B3FFE2;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
}

.input__error{  
  padding-left: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FB3E3E;

  position: absolute;
  bottom: -20px;
  display: none;
}

.hero__social{
  margin-top: 64px;
  display: flex;  
  justify-content: space-between;
  gap: 30px;
  max-width: 535px;
  height: 29px;  
}
.social__icon{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__dots{  
  position: absolute;
  right: 0;
  bottom: -48px;  
}

/* DESKTOP */
@media screen and (max-width: 1078px){
  .hero__image{
    object-position: 312px;
  }
  .dots__img{
    object-position: 100px;
  }
}

/* TABLET */
@media screen and (max-width: 768px){
  body{
    padding-left: 39px;
  }
  .hero{
    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: flex-start;    
  }
  .hero__logo{
    top: 50px;
  }

  .hero-image{
    width: 491px;
    height: 767px;
    top: 0;    
  }
  .hero__image{
    object-position: unset;
    width: 100%;
    height: 100%;
  }
  
  .hero__info{    
    max-width: 635px;
    height: 509px;      
  
    align-self: flex-start;    
    margin-top: 259px;    

    padding-top: 93px;
  }
  .hero__primary-text{
    font-size: 48px;
    line-height: 56px;
  }

  .hero__dots{    
    position: relative; 
    right: unset;        
    left: 0;    
    bottom: -70px;
  }
  .dots__img{
    object-position: unset;
  }
}

@media screen and (max-width: 680px){
  .hero{
    text-align: center;
  }

  .hero__info{    
    padding: 10px;

    display: flex;
    flex-direction: column;

    max-width: max-content;
    width: 100%;

    justify-content: center;
    align-items: center;    
  }
  .hero__primary-text{
    font-size: 26px;
    line-height: 38px;
    max-width: 327px;
  }
  .hero__secondary-text{
    max-width: 327px;
    font-size: 15px;
    line-height: 25px;
  }
  .hero-input{
    flex-direction: column;
    gap: 16px;
    width: 327px;
    height: 108px;
  }
  .hero__input,
  .input__btn{
    width: 100%;
    height: 46px;    
  }
  .input__btn{
    position: unset;
  }

  .hero__social{
    max-width: max-content;

    height: 16px;
  }

  .hero__image{
    object-position: 160px;
  }
}

/* MOBILE */
@media screen and (max-width: 540px){
  body{
    padding: 0;
  }
  .hero{
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
  }
  .hero__logo{
    position: unset;
    margin-top: 62px;
  }

  .hero-image{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: max(100vh, 667px);    
  }

  .hero__image{
    max-width: unset;
    object-position: unset;
    object-fit: cover;

    background-color: #121725;
    opacity: 0.09;

    height: 100%;
  }

  .hero__info{
    margin-top: 57px;
    max-width: unset;    
    width: 100%;
    height: 398px;
    
    padding: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  .hero__primary-text{
    order: 1;
  }
  .hero__secondary-text{
    margin-top: 16px;
    order: 2;
  }
  .hero-input{
    order: 4;
  }  
  .hero__social{
    margin-top: 33px;
    order: 3;
    gap: 20px;    
  }
  .hero__dots{
    display: none;
  }
}